<div>
  <h1>
    <%=@game.player_defend.name%> has attacked <%=@game.player_attack.name%>!
  </h1>
</div>
<div>
 <h2>10 HP deducted</h2>
</div>
<div>
  <form action = '/play' method='get'>
    <input id = 'ok' type = 'submit' value = 'Okay!'/>
  </form>
</div>
