<form action="/names" method="post">
  <input type="text", name="player1">Player 1:</input>
  <input type="text", name="player2">Player 2:</input>
  <br>
  <input type="submit", value="Start Battle">
</form>
